@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal; 
    color: #8D8D8D;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-image: url('../img/background.png');
    background-size: cover;
}

.image img {
    width: 250px;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-header { 
    margin-bottom: 30px;
}

.form-header h1::after { 
    content: '';
    display: block; 
    width: 80px;
    height: 2.4px; 
    background-color: #E17100;
    margin: 0 auto; 
    position: absolute;
    border-radius: 10px;
}

.input-group { 
    display: flex;
    flex-direction: column;
}

.input-box {
    margin-bottom: 15px;
    position: relative;
}

.input-box span {
    position: absolute;
    left: 15px;
    top: 20px;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus ~ span {
    transform: translateY(-26px);
    background-color: #fff;
    padding: 0 5px 0 5px;
    color: #E17100;
}

.input-box input:valid ~ span {
    transform: translateY(-26px);
    background-color: #fff;
    padding: 0 5px 0 5px;
}

.input-box input {
    margin: 5px 0;
    padding: 0 15px 0;
    width: 300px;
    height: 50px;
    border: solid 0.5px #a7a7a7;
    border-radius: 5px;
    background-color: #fff;
    color: #707070;
    font-size: 15px;
}

.input-box input:hover {
    background-color: #f0f0f03f;
}

.input-box input:focus-visible {
    outline: 0.5px solid #ff8000;
}

.submit-button {
    margin-bottom: 20px;
    width: 100%;
}

.submit-button input {
    width: 100%;
    height: 50px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #E17100;
    font-size: 17px;
    cursor: pointer;
}

.submit-button input:hover {
    background-color: #d66b00;
}

.back img{
    width: 17px;
    margin-top: 20px;
    opacity: 0.5;
}