@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat&display=swap');

:root {
    --image: url(../img/header.png);
    --menu-background: #ffa348;
    --nav-hover: #ffa851;
    --search-input: #f0f0f0;
    --search-input-hover: #e9e9e9;
    --nav-color: #ff8000;
    --focus-visible: #ff8000;
    --button: #E37300; 
    --white: #fff;
    --alert-button: #BF2E00;
    --content-background: #ebebeb;
    --content-color: #4d4d4d;
    --time-color: #5a5a5a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--content-color);
    font-size: 18px;
    color: #8D8D8D;
}

body {
    margin: 10px 20px 10px 20px;
    height: 100vh;
}

/*Side Menu*/

.side-menu {
    display: none;
    margin: 0;
    /* width: 300px;
    height: 100%;
    background-color: var(--nav-color); */
} 

.side-menu .menu-faketrigger {
    position: absolute;
    z-index: 1000;
    width: 3em;
    height: 3em;
    top: 1;
    cursor: pointer;
    opacity: 0;
}

.side-menu .menu-faketrigger:checked ~ ul {
    margin-left: 0;
}

.side-menu .menu-faketrigger:checked ~ .exp-btn i.bi#menu-icon {
    color: var(--nav-hover);
}

.side-menu .menu-ul {
    position: absolute;
    z-index: 998;
    left: 0;
    top: 0;
    width: 300px;
    background-color: var(--menu-background);
    padding: 30px 0px 30px 25px;
    margin-top: 74px;
    margin-left: -340px;
    transition: all ease .2s;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.menu-ul .menu {
    list-style: none;
}

.menu-ul .menu a {
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: var(--white);
    font-size: 20px;
    transition: all ease .2s;
}

.menu-ul .menu a:hover {
    color: #ffe5c7;
}

.exp-btn {
    z-index: 999;
    top: 0;
    left: 1;
}

i.bi#menu-icon {
    font-size: 2.5em;
    color: var(--nav-color);
}

i.bi {
    font-size: 1.5em;
}

/*LOGO + LINKS*/
.nav {
    top: 0;
    position: sticky;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 0.5px solid var(--nav-color);
}

.nav .startonomo img {
   width: 45px; 
}

.nav .nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name {
    display: none;
    color: var(--nav-color);
}

.nav .nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    column-gap: 20px;
    padding-left: 20px;
}

.nav .nav-links a { 
    text-decoration: none;
    color: var(--nav-color);
}
.nav .nav-links a:hover { 
    color: var(--nav-hover);
    transition: 0.1s;
    text-decoration: underline;
}

/*BARRA DE PESQUISA + PERFIL*/
.aside-nav {
    display: flex;
    flex-direction: row;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar #search-icon{
    width: 18px;
    height: 18px;
    border: none;
    background-color: white;
    margin-right: 5px;
    padding: 0;
}

.search-bar #search-icon img,
.search-bar .none img {
    width: 18px;
    height: 18px;
}

.search-bar button {
    cursor: pointer;
}

.search-bar input {
    border: none;
    margin-right: 10px;
    width: 300px;
    border-radius: 10px;
    height: 30px;
    background-color: var(--search-input);
    padding: 0px 0px 0px 10px;
    font-size: 15px;
    transition: all ease .2s;
}

.search-bar input:hover {
    background-color: var(--search-input-hover);
}
.search-bar input:focus-visible {
    outline: 1px solid #E17100;
}

.none {
    display: none;
    width: 18px;
    height: 18px;
    border: none;
    background-color: white;
    margin-right: 5px;
    padding: 0;
}

/* Form */

.form-content {
    display: flex;
    justify-content: center;
}

.form-content .forms {
    display: flex;  
    flex-direction: column; 
    margin-top: 40px;
    max-width: 90%; 
}

.forms form {
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

form .content-group {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 70%;
}

.content-group .title h1 {
    font-size: 20px;
}

.content-group .all-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 15px;
}

.content-group .text {
    width: 60%;

    & p {
        font-size: 16px;
    }
}

/* INPUTS */
.all-inputs .input-box input, textarea{
    margin: 5px 0;
    padding: 0 10px 0;
    width: 216px;
    height: 50px;
    border: solid 0.5px #a7a7a7;
    border-radius: 5px;
    background-color: var(--white);
    color: #707070;
    font-size: 14px;
}

textarea {
    padding-top: 15px;
}

.input-box input:hover, textarea:hover, select:hover {
    background-color: var();
}

.input-box input:focus-visible, textarea:focus-visible, select:hover {
    outline: 0.5px solid var(--focus-visible);
}

/* BUTTONS */
form .button .save-button input {
    background-color: var(--button);
    color: var(--white);
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    padding-bottom: 2px;
    cursor: pointer;
}

form .button .delete-button input {
    background-color: var(--alert-button);
    color: var(--white);
    border: none;
    width: 130px;
    height: 33px;
    border-radius: 5px;
    font-size: 15px;
    padding-bottom: 2px;
    cursor: pointer;
}

/* Media queries - Breakpoints */

/* Medium Devices */
@media screen and (max-width: 1024px) {
    body {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .nav .nav-links, 
    .startonomo img {
        display: none;
    }   

    .side-menu {
        display: block;
    }
}

/* Small Devices */
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav .nav-links, 
    .startonomo img {
        display: none;
    }

    .search-bar input {
        position: absolute;
        width: 0;
        right: 0;
        margin-right: -260px;
        opacity: 0;
        transition: all ease .2s;
    }

    #search-icon,
    .profile-icon {
        display: none;
    }

    .name,
    .side-menu,
    .none {
        display: block;
    }
    
} 